        .product-card:hover {
            transform: translateY(-10px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
            transition: 0.3s;
            cursor: pointer;
        }

        .product-card {
            transition: 0.3s;
        }

        .adicolor-section {
            padding: 60px 0;
        }

        .adicolor-img {
            width: 100%;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            border-radius: 4px;
        }

        .text-overlay {
            position: absolute;
            bottom: 20px;
            left: 20px;
            background-color: white;
            color: black;
            padding: 15px;
            max-width: 80%;
            border-radius: 6px;
        }

        .text-overlay h4 {
            font-weight: bold;
            letter-spacing: 1px;
        }

        .logo-bottom-right {
            position: absolute;
            bottom: 20px;
            right: 20px;
            width: 60px;
        }

        .banner {
            background-color: rgb(224, 170, 170);
            ;
            /* Màu vàng */
            padding: 30px 20px;
        }

        .banner-text {
            font-size: 2rem;
            font-weight: 700;
        }

        .banner-btn {
            background-color: black;
            color: white;
            padding: 12px 25px;
            border: 2px solid black;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 2px;
            position: relative;
            transition: all 0.2s ease;
        }

        .banner-btn:hover {
            background-color: white;
            color: black;
        }

        .banner-btn::after {
            content: '→';
            margin-left: 12px;
            font-weight: bold;
            display: inline-block;
        }

        @media (max-width: 768px) {
            .banner-text {
                font-size: 1.5rem;
                text-align: center;
            }

            .banner-btn {
                display: block;
                margin: 15px auto 0;
            }

            footer {
                background-color: #222;
                color: #eee;
                padding: 40px 0;
            }

            footer a {
                color: #ccc;
                text-decoration: none;
            }

            footer a:hover {
                color: #fff;
            }
        }
